body{
    width: 870px;
}

header{
    background-color: cornflowerblue;
    background-image: url(../img/pattern.png);
    background-size: 350px;
}

.logo{
    margin-top: 40px;
    width: 170px;
}

.newspic{

}

h1{

}

h2{

}

h3{

}

span{

}

th{
    background-color: #20a9e5;
    color: #ffffff;
    text-align: left;
}

tr.even{

}

tr.odd{
    background-color: #b1e5f2;
}

.othernews{

}