body{
    width: 870px;
}

header{
    background-color: cornflowerblue;
    background-image: url(../img/pattern.png);
    background-size: 350px;
}

.logo{
    margin-top: 40px;
    width: 170px;
}

.newspic{
    height: 300px;
}

h1{
    line-height: 30px;
    margin: 20px 0px 0px 0px;
}

h2{
    font-size: 14px;
    margin: 2px;
}

h3{
    font-size: 10px;
    margin: 0px;
    margin-bottom: 10px;
}

span{
    font-size: 10px;
    
}

table{
    padding: 0;
    margin: 0;
}

th{
    background-color: #20a9e5;
    color: #ffffff;
    text-align: left;
    min-width: 200px;
    border: none;
}

tr.even{
    background-color: #ffffff;
    border:none;
}

tr.odd{
    background-color: #b1e5f2;
}

.othernews{

}